@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Kai Pen Handwriting';
    src: url('../fonts/kai-pen-handwriting.ttf') format('truetype');
}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway.ttf') format('truetype');
}

@font-face {
    font-family: 'Ultralight';
    src: url('../fonts/ultralight.ttf') format('truetype');
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/custom-set.eot');
    src: url('../fonts/custom-set.eot?#iefix') format('embedded-opentype'), url('../fonts/custom-set.woff') format('woff'), url('../fonts/custom-set.ttf') format('truetype'), url('../fonts/custom-set.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.kai-pen-handwriting {
    font-family: 'Kai Pen Handwriting', sans-serif;
}

.ultralight {
    font-family: 'Ultralight', sans-serif;
}

.raleway {
    font-family: 'Raleway',sans-serif;
}

